<%= form_with model: question, data: {turbo: false} do |form| %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :asker_id %>
  <p><%= form.label :body, 'Текст вопроса' %></p>
  <p><%= form.text_area :body, rows: 5, class: 'form-text-area' %></p>
  
  <% if question.persisted? %>
  <p class="mt"><%= form.label :answer, 'Ваш ответ' %></p>
  <p><%= form.text_area :answer, rows: 5, class: 'form-text-area' %></p>
  <% end %>

  <p class="mt"><%= form.submit 'Сохранить', class: 'button button-main' %></p>
<% end %>
