<div class="mb-sm <%='semi-transparent' if question.hidden%>">
  <%= simple_format h(question.body) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red <%='semi-transparent' if question.hidden%>">
    <%= simple_format h(question.answer) %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user %>
    <div>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply')%>
      <%= link_to fa_icon(edit_icon), edit_question_path(question),
        title: 'Изменить вопрос', class: 'mr-sm' %>
      <% if question.hidden %>
      <%= button_to fa_icon('eye'), unhide_question_path(question), 
        method: :put, title: 'Показать вопрос'%>
      <% else %>
      <%= button_to fa_icon('eye-slash'), hide_question_path(question), 
        method: :put, title: 'Скрыть вопрос'%>
      <% end %>
      <%= button_to fa_icon('trash-o'), question_path(question),
        method: :delete, title: 'Удалить вопрос', onclick: "return confirm('Точно удалить вопрос?')" %>
    </div>
  <% end %>
</div>
