<div class="container">
  <h2 class="title-lg mb">
    Недавно добавились
  </h2>

  <div class="users-box">
    <% @users.each do |user| %>
      <%= render partial: 'users/user_avatar', locals: {user: user} %>
    <% end %>
  </div>
</div>

<div class="container mt-sm">
  <h2 class="title-lg">
    <%= inclination(@tags.count, 'Последний', 'Последние', 'Последние') %>
    <%= @tags.count %>
    <%= inclination(@tags.count, 'хештего', 'хештега', 'хештегов') %>
  </h2>
  <p class="mt-sm">
    <% @tags.each do |tag| %>
      <%= render 'tags/tag', tag: tag%>
    <% end %>
  </p>
</div>
<div class="container mt-sm">
  <h2 class="title-lg">
    <%= inclination(@questions.count, 'Последний', 'Последние', 'Последние') %>
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <%= render question %>
  </div>
<% end %>
