<div class="container">
    <h2 class="title-lg mb">Вопрос <%= @question.id %></h2>

    <p class="mb-sm"><%= @question.body %></p>
    <p>user_id: <b><%= @question.user_id %></b></p>

    <div class="mt">
      <%= link_to fa_icon('pencil'), edit_question_path(@question), title: 'Изменить вопрос' %>
      <%= button_to fa_icon('trash-o'), question_path(@question), method: :delete, title: 'Удалить вопрос', onclick: "return confirm('Точно удалить вопрос?')"%>
      <% if !@question.hidden %>
      <%= button_to fa_icon('eye-slash'), hide_question_path(@question), method: :put, title: 'Скрыть вопрос'%>
      <% else %>
      <%= button_to fa_icon('eye'), unhide_question_path(@question), method: :put, title: 'Показать вопрос'%>
      <% end %>
    </div>

    <p class="mt"><%= link_to "Все вопросы", questions_path %></p>
</div>
