<p style="color: green"><%= notice %></p>

<div class="container mt-sm">
  <h2 class="title-lg">
    Вопросы с хештегом <%= @tag.with_sign %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <p class="mb text-sm text-grey">
    Вопрос <%= link_to "##{question.id}", question_path(question) %>
    для юзера <%= link_to "@#{question.user.nickname}", user_path(question.user) %>
    </p>
    <%= render question %>
  </div>
<% end %>
